/Library
/Temp
*.xml
*.sln
/.consulo
/UnityVS.Utopia.CSharp.csproj
/UnityVS.Utopia.sln
/UpgradeLog.htm
/UpgradeLog2.htm
/Utopia.sln
/Utopia-csharp.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-vs.csproj
